* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  color: #fff;
  line-height: 1.3;
}

/* Navbar */
header {
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(6px);
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.logo span {
  color: orangered;
  font-weight: 700;
}
.fa-dumbbell{
  color: orangered;
}
.logo {
  color: white;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}
.nav-links li a {
  text-decoration: none;
  color: #fff;
  transition:all 0.3s ease-in;
}
.nav-links li a:hover {
   color: orangered;
  border-bottom: 2px solid orangered;
  transform: scale(1.6);
}
.btn {
  background: orangered;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
}
.btn:hover {
  background: white;
  color: orangered;
}
.contact{
  background: transparent;
  border: 2px solid orangered;
  font-size: 17px;
  border-radius: 10px;
  padding: 10px 20px;
  align-items: center;
  text-align: center;
  color: orangered;
}
.contact:hover{
  background: orangered;
  color: white;
}
.main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 120px 80px 60px;
  height: 90vh;
  background: #000;
}
.main-txt{
  max-width: 50%;
}
.main-txt h1 {
  font-size: 3rem;
  font-weight: 700;
}
.main-txt h1 span {
  color: #fff;
}
.main-txt h2 {
  color: orangered;
  font-size: 1.8rem;
  margin: 15px 0;
}
.main-txt p {
  margin: 20px 0;
  max-width: 500px;
  color: #ccc;
}
.main-img img{
  max-width: 400px;
  border-radius: 5px;
}
.fa-heart{
  color: white;
  text-align: center;
  font-size: 18px;
}
.hea{
  position: relative;
}
.heart{
  justify-content: center;
  align-items: center;
  position: absolute;
  background: orangered;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 0 14px 6px rgba(255, 68, 0, );
  max-width: 100px;
  height: 70px;
  padding: 5px;
  bottom: 70px;
  right: -30px;
}
.signal{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  position: absolute;
  background: orangered;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 0 14px 6px rgba(255, 68, 0, );
  max-width: 150px;
  height: 50px;
  padding: 10px;
  bottom: -30px;
  left: 30px;
}
.txt{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.abt{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.about{
  align-items: center;
  padding: 120px 80px 60px;
  height: 100vh;
  color: white;
}
.white{
  color: orangered;
}
.abt-img img{
 max-width: 450px;
 min-height: 370px;
}
.abt-txt{
 max-width: 45%;
}
.abt-txt h1{
  font-size: 45px;
  margin: 10px 0;
  line-height: 1.2;
}
.abt-btn{
  border: transparent;
  background: rgba(255, 68, 0, 0.5);
  color: orangered;
  width: 100px;
  padding: 10px;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.btn-expl {
  margin: 10px 0;
  background: orangered;
  padding: 10px 30px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  border: transparent;
  transition: 0.3s;
}
.btn-expl:hover {
  background: white;
  color: orangered;
}
.play-vid{
  position: relative;
}
.play{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 2px solid orangered;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.fa-play{
  color: orangered;
  font-size: 30px;
  font-weight: 700px;
  text-align: center;
}
.services{
  align-items: center;
  padding: 120px 80px 60px;
  height: 100vh;
  color: white;
}
.headserve{
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.serve{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 80px;
  gap: 20px;
  align-items: center;
}
.card{
  align-items: center;
  border: 1px solid orangered;
  max-width: 310px;
  max-height: 310px;
  padding: 15px;
  border-radius: 20px;
}
.card-img img{
  max-width: 300px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
.card:hover .card-img img{
  transform: scale(0.9);
}